<strong>Olá, {{ student }}</strong>
<p>Você acabou de se cadastrar na GymPoint! Segue os dados do seu plano:</p>
<p>
  <strong>Plan: </strong> {{ plan }} <br />
  <strong>Start Date: </strong> {{ start_date }} <br />
  <strong>End Date: </strong> {{ end_date }} <br />
  <strong>End Date: </strong> {{ price }} <br />
  <br />
  <small>
    Seja bem vindo a nossa academia!
  </small>
</p>
